/** General styles (scope: all of lesson) **/
#intro_top {
color: #999;
display: inline-block;
font-weight: bold;
margin-bottom: 5px;
text-align: left;
}
#intro_bottom {
display: inline-block;
margin-bottom: 10px; 
text-align: left;
}
/*
#page-header {
    display: none;
}*/

.button {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #f5f5f5;
background-image: linear-gradient(to bottom, #fff, #e6e6e6);
background-repeat: repeat-x;
border-color: #ccc #ccc #b3b3b3;
border-image: none;
border-radius: 4px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
color: #333;
cursor: pointer;
display: inline-block;
font-size: 14px;
line-height: 20px;
margin-bottom: 0;
padding: 4px 12px;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
}

#page #page-content #region-main, #page #page-content div[role="main"] {
  margin-top: 30px;
}
#page #page-content #region-main > div[role="main"] {
  margin-top: 10px;
}
#submitForm .option {
    margin-bottom: 5px; margin-top: 5px;
}
#left_column {
    display: block;
    width: 800px;
    height: 600px;
    position: relative;
    float: left;
}
#right_column {
display: inline-block;
float: left;
padding-left: 10px;
position: relative;
width: 300px;
}
#map {
    background: url([[pix:rtw|map]]);
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}
#map .level {
   display: block; 
   position: absolute;
   height: 77px;
   width: 78px;
}
#map .level a{
    display: block;
height: 100%;
width: 100%;
}
#map .level .pos {
border: 2px solid;
border-radius: 25px;
display: block;
font-weight: bold;
height: 40px;
position: absolute;
width: 100px;
z-index: 999;
text-align: center;
}
#map .pos.pos0 {
background-color: springgreen;
left: -95px;
top: -40px;
}
#map .pos.pos1 {
background-color: paleturquoise;
left: 10px;
top: -50px;
}
#map .pos.pos2 {
background-color: violet;
right: -107px;
top: 0;
}
#map .pos.pos3 {
background-color: seashell;
right: -107px;
top: 50px;
}
#map .pos.pos4 {
background-color: salmon;
right: -9px;
top: 80px;
}
#map .pos.pos5 {
background-color: thistle;
left: -110px;
top: 34px;
}
#map .level span.title {
background-color: #fff;
border: 1px solid #bbb;
border-radius: 10px;
color: midnightblue;
font-weight: bold;
left: -166px;
padding: 5px;
position: absolute;
text-align: left;
top: 15px;
width: 150px;
}
#map .level1 {
background: url([[pix:rtw|level1]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
left: 215px;
top: 455px;
}

#map .level2 {
background: url([[pix:rtw|level2]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 81px;
left: 575px;
top: 455px;
}

#map .level3 {
background: url([[pix:rtw|level3]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 81px;
left: 295px;
top: 310px;
}
#map .level4 {
background: url([[pix:rtw|level4]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 81px;
left: 495px;
top: 289px;
width: 80px;
}
#map .level5 {
background: url([[pix:rtw|level5]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 81px;
left: 430px;
top: 429px;
}
#map .level6 {
background: url([[pix:rtw|level6]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 81px;
left: 279px;
top: 130px;
width: 80px;
}
#map .level7 {
background: url([[pix:rtw|level7]]) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 81px;
left: 158px;
top: 50px;
}
#page #page-content #region-main, #page #page-content div[role="main"] {
}

#right_column #player_info {
background-color: #eee;
border-radius: 10px;
box-shadow: 3px 3px 5px #bbb;
display: block;
padding: 10px;
width: 100%;
}

.quest {
border: 1px solid #bbb;
border-radius: 10px;
box-shadow: 3px 3px 3px #bbb;
display: block;
height: 85px;
position: absolute;
width: 125px;
}
.quest a.img {
background: url("/theme/image.php?theme=essential&component=rtw&image=quest") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
display: block;
height: 70px;
width: 54px;
}
.quest a.img:hover {
background-position: 2px -54px;
}

.quest span.quest_name {
bottom: 10px;
color: tomato;
font-weight: bold;
left: 0;
position: absolute;
text-align: center;
width: 100%;
}

.quest.pos0 {
left: 300px;
top: 25px;
}
.quest.pos1 {
    left: 90px;
    top: 150px;
}
.quest.pos2 {
    left: 500px;
    top: 150px;
}

.quest .member {
display: block;
height: 30px;
position: absolute;
width: 100%;
}

.quest .member img.userpicture {
border-radius: 15px;
bottom: -20px;
display: block;
height: 30px;
left: 50px;
position: absolute;
width: 30px;
z-index: 99;
}
.quest .member span.name {
height: 20px;
left: 0;
overflow: hidden;
position: absolute;
text-align: center;
width: 100%;
top: 0;
}

.quest .member.pos0 {
 left: 0;   
 top: -47px;
}
.quest .member.pos1 {
right: -62px;
top: 0;
}

.quest .member.pos2 {
bottom: 2px;
right: 0;
}
.quest .member.pos2 span.name {
top: 50px;
}
.quest .member.pos3 {
left: -62px;
top: 0;
}
